/*Google Fonts*/

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Noto+Serif+Bengali:wght@300;400;500;700;900&display=swap');

/*Global Selector*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-family: 'Noto Serif Bengali', serif;
}

body {
    font-size: 14px;
    background-color: #f1f2f4;
}

a {
    text-decoration: none;
}


.main-area-container {
    max-width: 1120px;
    margin: 18px auto;
}


/*Top Navbar - Banner*/

.top-nav-banner {
    display: block;
    position: fixed;
    top: 0;
    z-index: 1000;
}


/*Search Area*/

.search-area {
    width: 100%;
    padding: 20px 91px;
    display: flex;
    background: white;
    position: fixed;
    left: 0;
    top: 73px;
    z-index: 1000;
}

.logo img {
    width: 110px;
}

.search {
    padding: 0 75px;
    display: flex;
}

.search-box {
    padding: 12px;
    height: 46px;
    font-size: 14px;
    width: 604px;
    border: 1px solid #ccc;
    border-bottom: 2px solid #FF9900;
    border-radius: 3px 0 0 3px;
    outline: none;
}

.search-box:focus {
    border: 1px solid #80bdff;
    padding-bottom: 13px;
}

::placeholder {
    color: #aaa;
}

.click_search {
    height: 46px;
    width: 50px;
    background-color: #0397d3;
    border: 0;
    border-radius: 0 3px 3px 0;
}

.click_search img {
    margin-top: 1px;
    height: 20px;
}

.user-area {
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
}

.sign-in-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #404040;
    border: 1px solid #404040;
    padding: 6px 5px;
    width: 80px;
    height: 40px;
    margin-left: 15px;
    border-radius: 5px;
}

.first-navbar {
    margin-top: 180px;
    text-align: center;
    margin-left: -80px;
    background: #fff;
}

.first-navbar li {
    display: inline;
    padding: 5px 16px;
}

.first-navbar a {
    display: inline-block;
    font-size: 17px;
    color: #404040;
    transition: all 0.4s linear;
}

.first-navbar a:hover {
    color: #0397d3;
}

.first-navbar ul {
    border-bottom: 1px solid #89c4f4;
}

.active {
    border-width: 1px 1px 0px 1px;
    border-color: #89c4f4;
    border-style: solid;
    position: relative;
    padding: 10px;
    margin-right: 5px 15px 5px 15px;
}

.active::after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    background-color: #fff;
    width: 100%;
    height: 1px;
}

#active-link {
    color: #0397d3
}


/*Second Navbar Design*/

.second-navbar {
    background: #fff;
    border-bottom: 1px solid #cecfd1;
    font-size: 15px;
    text-align: center;
    position: relative;
}

.second-navbar>ul {
    list-style-type: none;
    max-width: 1150px;
    margin: 0 auto;
}

.second-navbar>ul>li {
    display: inline-block;
    margin-right: 15px;
    padding: 12px 15px;
}

.second-navbar ul li a {
    color: #606060;
    transition: all 0.3s linear;
}

.second-navbar ul li a:hover {
    color: #0397d3;
}

.author-link::after {
    content: "^";
    transform: rotate(180deg);
    font-size: 12px;
    margin: 0 5px;
    display: inline-block;
    vertical-align: middle;
    line-height: 1rem;
    margin-bottom: 10px;
}

.author-link:hover::after {
    transform: rotate(0deg);
    margin-bottom: 0;
}

.dropdown-area {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, 0);
    width: 1120px;
    background: #fff;
    display: flex;
    border-radius: 3px;
    box-shadow: 5px 5px 5px #ddd, -5px 5px 5px #ddd;
    overflow: hidden;
    max-height: 0;
    transition: all 0.3s ease-in-out;
    display: flex;
    z-index: 999;
}

.author:hover .dropdown-area,
.dropdown-area:hover,
.subjects:hover .dropdown-area,
.publishers:hover .dropdown-area {
    max-height: 500px;
}

.dropdown-area ul li {
    text-align: left;
    list-style-type: disc;
    margin: 10px;
    margin-left: 30px;
}

.dropdown-area div {
    width: 25%;
}

.dropdown-subjects-area div,
.dropdown-publishers-area div {
    width: 20%;
}

.dropdown-items {
    text-align: left;
}

.dropdown-items>a {
    display: inline-block;
    padding-bottom: 20px;
    color: #0397d3 !important;
}

.dropdown-items:last-child li {
    margin: 9px 10px;
}


/*================ Banner Area CSS ========================*/

.banner-area {
    overflow: hidden;
}

.banner {
    width: 100%;
}

.banner-image-container .banner img {
    width: 100%;
}

.banner-image-container {
    width: 100%;
}


/* ---------------Recently sold Products Area -------------------------- */

.recently-sold-products-total-area {
    background: #fff;
    padding: 16px;
    position: relative;
}

.category-title {
    font-size: 22px;
    color: #333;
    margin-bottom: 5px;
}

.all-products-container {
    display: flex;
    position: relative;
    margin-top: 20px;
}

.product {
    width: 16.66%;
    padding: 15px;
    padding-top: 0;
    position: relative;
    left: 0;
    top: 0;
}

.product-image {
    text-align: center;
    position: relative;
    width: 130px;
    margin: 0 auto;
    transform: scale(0.84);
}

.product-image img {
    width: 100%;
}

.read-some-pages-icon {
    position: absolute;
    right: 0;
    bottom: 5px;
    height: 68px;
    width: 85px;
    background: url("https://www.rokomari.com/static/200/dist/desktop/images/look-inside.png") no-repeat;
}

.discount {
    position: absolute;
    top: 14px;
    left: 0;
    height: 42px;
    width: 46px;
    padding-top: 5px;
    padding-left: 10px;
    text-align: left;
    font-weight: 600;
}

.discount-image-one {
    background: url(https://www.rokomari.com/static/200/dist/desktop/images/discount-badge-one.png) no-repeat;
}

.book-title {
    text-align: center;
    margin-bottom: 7px;
}

.price-container {
    text-align: center;
    font-size: 14px;
}

.original-price {
    font-size: 16px;
    color: #666;
    margin-right: 5px;
}

.product-hover {
    background: #ffffff80;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    box-shadow: inset 0px 0px 10px 0px #cdcdcd;
    opacity: 0;
    transition: all 0.3s linear;
}

.add-to-cart-button {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 3px 6px -4px #a2a2a2;
    border-radius: 3px;
    font-size: 12px;
    font-size: 600;
    color: #fff;
    background-color: #ff9900;
    padding: 10px;
    width: 106px;
    opacity: 0;
    transition: all 0.3s linear;
}

.view-details-button {
    position: absolute;
    left: 0;
    bottom: 0;
    background: #0397d3;
    width: 100%;
    color: #fff;
    padding: 6px 12px;
    text-align: center;
    font-weight: 700;
    opacity: 0;
    transition: all 0.3s linear;
    cursor: pointer;
}

.product-hover:hover,
.add-to-cart-button:hover,
.view-details-button:hover {
    opacity: 1;
}


/* ------------Recently sold Products Area---------------------------------- */




/* ============== Additional Category Section CSS ======================= */
.additional-category {
    display: flex;
}

.additional-category-section {
    width: 20%;
}

.category {
    display: inline-flex;
    width: 210px;
    height: 60px;
    font-size: 16px;
    color: #333333;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    border: 1px solid #71cbf0;
    border-radius: 6px;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}

.category::before, .category::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #e3f3fa;
    z-index: -1;
    transition: all 0.3s ease-in-out;
}

.category::after {
    background: #0397d3;
    left: -100%;
}
.category:hover {
    color: #ffffff;
}

.category:hover::after {
    left: 0;
}

